<div class="index">
    <div class="index-push-top"></div>
    <div class="codename">
        {{enter-nickname nickname=nickname}}
    </div>

    <div class="buttons-container">
        <div class="create-game">
            <button class="create-game" {{action "create"}}>Create New Team</button>
        </div>
        <div class="join-game">
            <button class="join-game" {{action "join"}}>Join Team</button>
        </div>
    </div>

    <div class="welcome-main">
        <div class="welcome-push-top"></div>
        <div class="welcome-intro">
            <p class="welcome-intro">
                AGENT DOWN is a hidden identities game of skill and intrigue.
            </p>
            <button class="view-rules" {{action "rules"}}>How To Play</button>
        </div>
        <div class="welcome-push-bottom"></div>
    </div>
</div>

{{outlet}}
