<h1>Final Reckoning</h1>

{{final-reckoning-banner me=gameState.player accuser=accusingPlayer}}

{{#if iAmAccuser }}
    {{active-player-list me=gameState.player players=gameState.game.players}}
{{else }}
    {{final-reckoning-list me=gameState.player players=gameState.game.players gameState='finalReckoning' action="nominatePlayer"}}
{{/if}}
{{outlet}}
