<h1>Final Reckoning</h1>

{{final-reckoning-banner me=gameState.player accuser=accuser}}

{{#if iAmAccuser }}
    {{active-player-list me=gameState.player players=gameState.game.players gameState='finalReckoning' action="accusePlayer"}}
{{else }}
    {{final-reckoning-list me=gameState.player players=gameState.game.players accuser=accuser action="nominatePlayer"}}
{{/if}}
{{outlet}}
