<div>
    <span class="winner">
        {{#if iWin }}
            You Win!
        {{ else }}
            You Lose!
        {{/if}}
    </span>
</div>
<div> 
    <span class="method">
        {{#if wonByAccusation }}
            Players accused {{accusedName}}
        {{else if wonBySpyGuess }}
            Spy guessed {{locationGuess}}
        {{else}}
            Players could not reach consensus 
        {{/if}}
    </span>
</div>

{{yield}}
