<div class="create">
    <div id="title"></div>

    <p class="joined-player-title">
        Current Players
    </p>

    {{joined-player-list players=model.players isCreator=isCreator action="kickPlayer"}}

    {{#if isCreator }}
        <div class="creator-actions">
            {{start-game players=model.players action="startGame"}}
        
            <p class="choice">
                You can use:
            </p>
            
            {{allow-open allow=useGeoPosition action="toggleGeoPosition"}}

            <p class="choice choice-or">
                - or -
            </p>

            {{invite-player origin=origin fromName=gameState.player.name gameId=gameState.game.id}}
        </div>
    {{else}}
        <div class="player-actions">
            {{back-button action="back"}}
        </div>
    {{/if}}

    {{outlet}}
</div>
