<h1>Create</h1>

{{#if isCreator }}
	{{allow-open useGeoPosition=useGeoPosition}}
{{/if}}

{{joined-player-list players=model.players isCreator=isCreator action="kickPlayer"}}

{{#if isCreator }}
	<div>
	    {{invite-player origin=origin fromName=gameState.player.name gameId=gameState.game.id}}
	    {{start-game action="startGame"}}
	</div>
{{else}}
	<div>
		{{back-button action="back"}}
	</div>
{{/if}}

{{outlet}}
