{{#if isNotSpy }}
	<span class="title">{{location.name}}</span>
    <div class="image-display" style="background-image: url({{location.image}})" /> 
{{else}}
	<span class="title">You are the spy!</span>
{{/if}}

<button class="guess-location" {{action 'click'}}>View locations</button>

{{yield}}
