<div class="how-to-play inner-controller">
    {{#collapsible-div hide=false as |collapse|}}
        {{#if collapse.isTitle }}
        How to play
        {{else if collapse.isContent}}
        Agent down is a hidden identities game.  When the game starts, you will be assigned one of two identities: Spy or Player.  In addition, a location will be chosen for the game to take place.  The game lasts for 8:00, or until the players accuse a spy or the spy guesses a location.
        {{/if}} 
    {{/collapsible-div}}
    {{#collapsible-div as |collapse|}}
        {{#if collapse.isTitle }}
            Spy
        {{else if collapse.isContent}}
            You know that you are the spy, but you don't know what the location is.  Your objective is to remain undetected or deduce the location.  At any time, click View Locations to see the available locations.  Click "Guess" on any location to enter your guess.  Be careful, you only get one try!
        {{/if}}
    {{/collapsible-div}}
    {{#collapsible-div as |collapse|}}
        {{#if collapse.isTitle}}
        Players
        {{else if collapse.isContent}}
        You know what the location is, but you don't know who the spy is.  Your objective is to deduce the identity of the spy without giving away the location.  At any time, you can accuse one of your fellow players of being the spy.  Your fellow players, except for the one you accused, will vote on your accusation.  If everyone unanimously agrees on the spy's identity, the game ends.  If you are right, the Players win.  Otherwise, the spy wins.  You only get one accusation per game, so use it wisely!'
        {{/if}}
    {{/collapsible-div}}
    {{#collapsible-div as |collapse|}} 
        {{#if collapse.isTitle}}
        Game play
        {{else if collapse.isContent}}
        On your turn, choose any player to question.  You can ask any question you like, however related or unrelated to the game it seems.  You can also answer questions however you like, and can even say "I don't want to answer that question."  After you answer, it is your turn to question someone else.  The only rule is that you cannot question the person who just questioned you.
        {{/if}}
    {{/collapsible-div}}
    {{#collapsible-div as |collapse|}}
        {{#if collapse.isTitle}}
        Game start
        {{else if collapse.isContent}}
        The most suspicious player goes first.  If you've just finished a game, that is the spy from that game by default.  If this is your first game, just pick someone with shifty eyes.
        {{/if}}
    {{/collapsible-div}}
    {{#collapsible-div as |collapse|}}
        {{#if collapse.isTitle }}
        Game end
        {{else if collapse.isContent}}
        If the time elapses without the players accusing a spy or a spy guessing a location, the game enters the "final reckoning" phase.  At this point, each players gets one last chance to accuse another player.  All players vote on each accusation, and a unanimous vote is required.  If the players cannot agree after everyone has made their accusation, the spy wins.
        {{/if}}
    {{/collapsible-div}}
    {{#collapsible-div as |collapse|}}
        {{#if collapse.isTitle }}
        Credits
        {{else if collapse.isContent}}
        <p>Design: Marianne Wellman</p>
        <p>Code: Kyl Wellman</p>
        {{/if}}
    {{/collapsible-div}}
    <button class="back" {{action "back"}}>Back</button>
</div>

{{outlet}}
