<button class="create-game" {{action 'click'}} disabled={{notEnoughPlayers}}>
    {{#if notEnoughPlayers}}
        Invite {{missingPlayers}} more players
    {{else}}
        Start
    {{/if}}
</button>

{{yield}}
