{{#if isSpy }}
    {{#collapsible-div as |collapse|}}
        {{#if collapse.isTitle }}
            {{location.name}}
        {{else if collapse.isContent}}
            <button {{action 'click' location}}>Guess!</button>
        {{/if}}
    {{/collapsible-div}}
{{else}}
    <span class="location-title">
        {{location.name}}
    </span>
{{/if}}
<div class="location-image" style="background-image: url({{location.image}})"/>
{{yield}}
