<div>
    <span>{{player.name}}</span>
    {{#if hasAccused }}
        <span>accused {{getAccused }}</span>
    {{else if canNominate}} 
    <button {{action 'nominate' player}}>Nominate</button>
    {{else}}
        <span>is waiting to accuse</span>
    {{/if}}
</div>

{{yield}}
