<h1>Results</h1>

{{result-outcome me=gameState.player game=gameState.game}}

{{result-location location=gameState.game.location}}

{{result-spy spy=gameState.game.spy}}

<div class="play-again">
    <button {{action "playAgain"}}>Play Again</button>
</div>
{{outlet}}
