<div class="game-results inner-controller">
    {{result-outcome me=gameState.player game=gameState.game}}

    {{result-location location=gameState.game.location}}

    {{result-spy spy=gameState.game.spy}}

    <div class="play-again">
        <button {{action "playAgain"}}>Play Again</button>
    </div>
    {{outlet}}
</div>
